<html>

<head>
	<title>Vue one million cats</title>

	<style>
		body {
			background: lightgrey;
		}
	</style>

</head>

<body>


	<div id="app">
		<span v-bind:title="message" @mouseover="addCat">
			Hover mee for more cats
		</span>
		<ul v-if="showCats">
			<li v-for="cat in cats">
				{{ catNamePrefix }}{{ cat.name }}
				<span @click="removeCat(cat)">(x)</span>
				<span>{{cat.id}}</span>
				<cat-component :data="cat"></cat-component>

			</li>
		</ul>


		<button @click="addCat">Add cat</button>
		<button @click="showCats = !showCats">{{ showCats ? 'Hide' : 'Show'  }} cats </button>
		<input type="text" v-model="catNamePrefix" />


		

	</div>

	<script src="../vue.js"></script>
	<script src="main.js"></script></script>
</body>

</html>